<!---
	A  consolidation and expansion of snippets first published by adnan_ and Steve Michelotti_.

	Since including an app, model or object with your change is optional,
	the idea is to only show those fields progressively as the user fills out the form.
	
	First the app, then the model, and then finally the object.
	
	_http://www.djangosnippets.org/snippets/1085/
	_http://tinyurl.com/jQuery-and-JSON-example

-->

{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}

<style type="text/css">
	#lookup_box { font-size:12px; margin:.8em 0 .3em 0; }
</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script>

	function show_object_lookup() {
		$(".object_id").append("<div id='lookup_box'></div>");
		// Grab the app and model names
		var app = $("#id_content_app option:selected").text();
		var model = $("#id_content_type option:selected").text();
		// Create the link to the object list
		var link_root = '../../../';
		$("#lookup_box").html("<a onclick='return showRelatedObjectLookupPopup(this);' id='lookup_id_object_id' class='related-lookup' href='../../../'>lookup</a>");
		$("#lookup_id_object_id").text("Lookup object_id from '" + model + "'");
		$("#lookup_id_object_id").attr('href', link_root + app + '/' + model + '/');
	}
	
	function fetch_contenttypes_by_app(selected_app_label, preselected_val) {
		$.getJSON('{% url filter-contenttypes-by-app %}', { app_label : selected_app_label }, 
			function(data){
				$("#id_content_type").fillSelect(data)
				if (data.length === 1) {
					$(".content_type").hide("slow");
				} else {
					$(".content_type").show("slow");
				}
				if (preselected_val){
					$("#id_content_type").val(preselected_val);
				}
			});
	}
	
	$.fn.clearSelect = function() {
		return this.each(function() {
			if (this.tagName == 'SELECT')
			this.options.length = 0;
		});
	} 

	$.fn.fillSelect = function(data) {
		return this.clearSelect().each(function() {
			if (this.tagName == 'SELECT') {
				var dropdownList = this;
				$.each(data, function(index, optionData) {
					var option = new Option(optionData.Text, optionData.Value);   
					if ($.browser.msie) {
						dropdownList.add(option);
					} else {
						dropdownList.add(option, null);
					}
				});
			}
		});
	}

 $(document).ready(function(){
	
	// Hide the model and ID fields, only showing them once their parent has been selected
	// but it shouldn't hide them if they're already filled and we're editing an existing record.
	if ($("#id_content_type option:selected").val() === '') {
		$(".content_type").hide("slow");
	} else {
		var preselected_val = $("#id_content_type option:selected").val();
		fetch_contenttypes_by_app($("#id_content_app option:selected").val(), preselected_val);
	}
	
	if ($("#id_object_id").val() === '') {
		$(".object_id").hide("slow");
	} else {
		// Show the object selection link
		show_object_lookup();
	}

	// When an app dropdown is selected...
	$("#id_content_app").change(function () {
		// Wipe the object_id
		$("#id_object_id").val("");
		// Wipe the model dropdown
		$("#id_content_type").clearSelect();
		// Make a JSON call to fetch the model names in the selected app and refill the model dropdown
		fetch_contenttypes_by_app($("#id_content_app option:selected").val());
	});

	// When model dropdown is selected...
	$("#id_content_type").change(function () {
		// Wipe the object_id
		$("#id_object_id").val("");
		// Unhide the object id box
		$(".object_id").show("slow");
		// Show the object selection link
		show_object_lookup();
		if ($("#id_content_type").val() === '') {
			$(".object_id").hide("slow");
		}
	})

 });


</script>

{% endblock %}
