include README.textile
include LICENSE
include INSTALL.textile
recursive-include media *
recursive-include correx/templates *
recursive-include correx/fixtures *
recursive-include correx/tests/fixtures *

